.header{
    display: flex;
    justify-content: space-between;
    padding:15px 0px;
}

.header ul{
    display: flex;
    margin-top: 20px;
}
.header ul li{
    list-style: none;
    border: #ffffff solid 1px;
    width: fit-content;
    margin-top: 5px;
    border-radius: 5px;
    color: #ffffff;
    padding: 5px;
    margin-left: 3px;
    
}
.header ul li:hover{
    border-radius: 10px 0 10px 10px;
    margin-left: 5px;
    background-color: #ffffff;
    color: #382952;

}


.header ul li a{
    margin:0 10px;
    font-family:Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #f7e3e3;
}
.header ul li a:hover{
    color: #956AE1;
}

.img-ul{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.logo{
    border-radius: 50%;
    padding: 0 10px;
    width: fit-content;
}
.fa-bars{
    display: none;
    font-size: 30px;
    margin:0 20px;
    color: #ffffff;
    font-weight:lighter;
    cursor: pointer;
    height: fit-content;
}
.header .contact-btn{
    border: #ffffff solid 1px;
    height: fit-content;
    margin-right: 10px;
    padding: 10px 20px;
    border-radius: 20px;
    color: white;
}
.header ul{
    display: flex;
    
}


@media only screen and (max-width: 800px) {
    .fa-bars{
        display: flex;
        
    }
    .header .ul{
        display: none;
        margin: 70px 0;
        flex-direction: column;
        background-color: #B28AF8;
        padding: 10px;
        width: 100%;
    position: absolute;
    }
    .header .responsiv{
        display: flex;
    }
    .img-ul{
        flex-direction: column;
    }
}